Repository rhcs-dashboard/ceph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ceph/dashboard, @ceph/api, @ceph/orchestrators, @ceph/rook, @ceph/ceph-volume, @ceph/crimson, @ceph/doc-writers, @ceph/core

.github/CODEOWNERS:

# Dashboard team to review dashboard related code
/src/pybind/mgr/dashboard                       @ceph/dashboard
/qa/suites/rados/dashboard                      @ceph/dashboard
/qa/tasks/mgr/test_dashboard.py                 @ceph/dashboard
/qa/tasks/mgr/dashboard                         @ceph/dashboard
/monitoring                                     @ceph/dashboard
/doc/mgr/dashboard.rst                          @ceph/dashboard

# Dashboard API team
/src/pybind/mgr/dashboard/openapi.yaml                 @ceph/api
/src/pybind/mgr/dashboard/controllers                  @ceph/api
/src/pybind/mgr/dashboard/frontend/src/app/shared/api  @ceph/api
/src/pybind/mgr/dashboard/run-backend-api-tests.sh     @ceph/api
/qa/suites/rados/dashboard                             @ceph/api
/qa/tasks/mgr/test_dashboard.py                        @ceph/api
/qa/tasks/mgr/dashboard                                @ceph/api
/qa/tasks/mgr/test_module_selftest.py                  @ceph/api

# For Orchestrator related PRs
/src/cephadm                                    @ceph/orchestrators
/src/pybind/mgr/orchestrator                    @ceph/orchestrators
/src/pybind/mgr/rook                            @ceph/orchestrators
/src/pybind/mgr/cephadm                         @ceph/orchestrators
/src/pybind/mgr/test_orchestrator               @ceph/orchestrators
/src/python-common/ceph/deployment              @ceph/orchestrators
/qa/workunits/cephadm                           @ceph/orchestrators
/qa/tasks/cephadm.py                            @ceph/orchestrators
/qa/tasks/cephadm_cases                         @ceph/orchestrators
/qa/tasks/mgr/test_orchestrator_cli.py          @ceph/orchestrators
/qa/tasks/mgr/test_cephadm_orchestrator.py      @ceph/orchestrators
/qa/suites/orch                                 @ceph/orchestrators
/doc/mgr/orchestrator.rst                       @ceph/orchestrators
/doc/mgr/orchestrator_modules.rst               @ceph/orchestrators
/doc/cephadm                                    @ceph/orchestrators
/doc/dev/cephadm                                @ceph/orchestrators
/doc/man/8/cephadm.rst                          @ceph/orchestrators

/qa/suites/orch/rook                            @ceph/rook
/src/pybind/mgr/rook                            @ceph/rook
/doc/mgr/rook.rst                               @ceph/rook

#ceph-volume
/src/ceph-volume                                @ceph/ceph-volume
/doc/ceph-volume                                @ceph/ceph-volume

# crimson
/src/crimson                                    @ceph/crimson
/src/test/crimson                               @ceph/crimson

# doc-writers
AUTHORS                                         @ceph/doc-writers
CodingStyle                                     @ceph/doc-writers
COPYING*                                        @ceph/doc-writers
/doc/                                           @ceph/doc-writers
README*                                         @ceph/doc-writers
*.rst                                           @ceph/doc-writers

# core
/doc/man/8/ceph-authtool.rst                    @ceph/core
/doc/man/8/ceph-conf.rst                        @ceph/core
/doc/man/8/ceph-create-keys.rst                 @ceph/core
/doc/man/8/ceph-kvstore-tool.rst                @ceph/core
/doc/man/8/ceph-mon.rst                         @ceph/core
/doc/man/8/ceph-objectstore-tool.rst            @ceph/core
/doc/man/8/ceph-osd.rst                         @ceph/core
/doc/man/8/ceph.rst                             @ceph/core
/doc/man/8/crushtool.rst                        @ceph/core
/doc/man/8/monmaptool.rst                       @ceph/core
/doc/man/8/rados.rst                            @ceph/core
/doc/rados                                      @ceph/core
/qa/standalone                                  @ceph/core
/qa/suites/rados                                @ceph/core
/qa/workunits/erasure-code                      @ceph/core
/qa/workunits/mgr                               @ceph/core
/qa/workunits/mon                               @ceph/core
/qa/workunits/objectstore                       @ceph/core
/qa/workunits/rados                             @ceph/core
/src/ceph.in                                    @ceph/core
/src/ceph_osd.cc                                @ceph/core
/src/ceph_mon.cc                                @ceph/core
/src/blk                                        @ceph/core
/src/crush                                      @ceph/core
/src/erasure-code                               @ceph/core
/src/kv                                         @ceph/core
/src/librados                                   @ceph/core
/src/mgr                                        @ceph/core
/src/mon                                        @ceph/core
/src/msg                                        @ceph/core
/src/os                                         @ceph/core
/src/osd                                        @ceph/core
/src/tools/rados                                @ceph/core
/src/test/osd                                   @ceph/core

cephadm: fix osd adoption with custom cluster name
  src/cephadm/cephadm
Owners: @ceph/orchestrators

qa/rgw: fix flake8 errors in test_rgw_reshard.py
  qa/workunits/rgw/test_rgw_reshard.py
Owners: none

ceph-mixin: don't add cluster matcher if showcluster is disabled
  monitoring/ceph-mixin/dashboards/utils.libsonnet
  monitoring/ceph-mixin/dashboards_out/cephfs-overview.json
  monitoring/ceph-mixin/dashboards_out/host-details.json
  monitoring/ceph-mixin/dashboards_out/hosts-overview.json
  monitoring/ceph-mixin/dashboards_out/osd-device-details.json
  monitoring/ceph-mixin/dashboards_out/osds-overview.json
  monitoring/ceph-mixin/dashboards_out/pool-detail.json
  monitoring/ceph-mixin/dashboards_out/pool-overview.json
  monitoring/ceph-mixin/dashboards_out/radosgw-detail.json
  monitoring/ceph-mixin/dashboards_out/radosgw-overview.json
  monitoring/ceph-mixin/dashboards_out/radosgw-sync-overview.json
  monitoring/ceph-mixin/dashboards_out/rbd-details.json
  monitoring/ceph-mixin/dashboards_out/rbd-overview.json
Owners: @ceph/dashboard

rbd-mirror: don't prune non-primary snapshot when restarting delta sync
  src/test/rbd_mirror/image_replayer/snapshot/test_mock_Replayer.cc
  src/tools/rbd_mirror/image_replayer/snapshot/Replayer.cc
Owners: none

rgw: Remove unused RGWRemoteBucketManager
  src/rgw/rgw_data_sync.cc
  src/rgw/rgw_data_sync.h
Owners: none

cls/rbd: fix operator<< for MirrorSnapshotNamespace
  src/cls/rbd/cls_rbd_types.cc
Owners: none

test/rgw: fix test case for empty-OLH-name cleanup
  qa/workunits/rgw/test_rgw_reshard.py
Owners: none

librbd: unlink newest mirror snapshot when at capacity, bump capacity
  doc/rbd/rbd-mirroring.rst
  src/common/options/rbd.yaml.in
  src/librbd/mirror/snapshot/CreatePrimaryRequest.cc
  src/test/librbd/test_mirroring.cc
Owners: @ceph/doc-writers

test/rgw: Add incremental test of bucket sync run
  src/test/rgw/rgw_multi/tests.py
Owners: none

rgw: bucket sync run walks over generations
  src/rgw/rgw_data_sync.cc
Owners: none

cephadm: Add server serial info to gather-facts
  src/cephadm/cephadm
Owners: @ceph/orchestrators

test/rgw/multisite: enable zonegroup resharding feature
  qa/suites/rgw/multisite/realms/three-zone-plus-pubsub.yaml
  qa/suites/rgw/multisite/realms/two-zonegroup.yaml
Owners: none

rgw: Disentangle RGWBucketPipeSyncStatusManager::run
  src/rgw/rgw_data_sync.cc
Owners: none

mgr/cephadm: check if a service exists before trying to restart it Fixes: https://tracker.ceph.com/issues/55800
  src/pybind/mgr/cephadm/module.py
Owners: @ceph/orchestrators

rgw: `RGWSyncBucketCR` reads remote info on non-`Incremental` state
  src/rgw/rgw_data_sync.cc
Owners: none

rgw: Add 'bucket shard objects' command to radosgw-admin
  src/rgw/rgw_admin.cc
Owners: none

ceph-mixin: fix makefile dashboards dependency
  monitoring/ceph-mixin/Makefile
Owners: @ceph/dashboard

ceph-mixin: rationalize local helper functions to utils
  monitoring/ceph-mixin/dashboards/cephfs.libsonnet
  monitoring/ceph-mixin/dashboards/host.libsonnet
  monitoring/ceph-mixin/dashboards/osd.libsonnet
  monitoring/ceph-mixin/dashboards/pool.libsonnet
  monitoring/ceph-mixin/dashboards/rbd.libsonnet
  monitoring/ceph-mixin/dashboards/rgw.libsonnet
  monitoring/ceph-mixin/dashboards/utils.libsonnet
  monitoring/ceph-mixin/dashboards_out/host-details.json
  monitoring/ceph-mixin/dashboards_out/osds-overview.json
  monitoring/ceph-mixin/dashboards_out/pool-detail.json
  monitoring/ceph-mixin/dashboards_out/pool-overview.json
Owners: @ceph/dashboard

rgw/motr: fix build for MotrStore
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Owners: none

rgw: add `bucket object shard` command to radosgw-admin
  src/rgw/rgw_admin.cc
Owners: none

ceph-mixin: fix typos
  monitoring/ceph-mixin/dashboards/osd.libsonnet
  monitoring/ceph-mixin/dashboards/pool.libsonnet
  monitoring/ceph-mixin/dashboards_out/osds-overview.json
  monitoring/ceph-mixin/dashboards_out/pool-detail.json
Owners: @ceph/dashboard

test/librbd: fix set_val() call in SuccessUnlink* test cases
  src/test/librbd/mirror/snapshot/test_mock_CreatePrimaryRequest.cc
Owners: none

ceph-mixin: refactor the structure of _config and utils
  monitoring/ceph-mixin/dashboards.libsonnet
  monitoring/ceph-mixin/dashboards/cephfs.libsonnet
  monitoring/ceph-mixin/dashboards/dashboards.libsonnet
  monitoring/ceph-mixin/dashboards/host.libsonnet
  monitoring/ceph-mixin/dashboards/osd.libsonnet
  monitoring/ceph-mixin/dashboards/pool.libsonnet
  monitoring/ceph-mixin/dashboards/rbd.libsonnet
  monitoring/ceph-mixin/dashboards/rgw.libsonnet
  monitoring/ceph-mixin/dashboards/utils.libsonnet
  monitoring/ceph-mixin/mixin.libsonnet
Owners: @ceph/dashboard

rgw: restore check for empty olh name on reshard
  src/rgw/rgw_reshard.cc
Owners: none

ceph-mixin: fix linting issue and add cluster template support
  monitoring/ceph-mixin/config.libsonnet
  monitoring/ceph-mixin/dashboards/cephfs.libsonnet
  monitoring/ceph-mixin/dashboards/dashboards.libsonnet
  monitoring/ceph-mixin/dashboards/host.libsonnet
  monitoring/ceph-mixin/dashboards/osd.libsonnet
  monitoring/ceph-mixin/dashboards/pool.libsonnet
  monitoring/ceph-mixin/dashboards/rbd.libsonnet
  monitoring/ceph-mixin/dashboards/rgw.libsonnet
  monitoring/ceph-mixin/dashboards/utils.libsonnet
  monitoring/ceph-mixin/dashboards_out/.lint
  monitoring/ceph-mixin/dashboards_out/cephfs-overview.json
  monitoring/ceph-mixin/dashboards_out/host-details.json
  monitoring/ceph-mixin/dashboards_out/hosts-overview.json
  monitoring/ceph-mixin/dashboards_out/osd-device-details.json
  monitoring/ceph-mixin/dashboards_out/osds-overview.json
  monitoring/ceph-mixin/dashboards_out/pool-detail.json
  monitoring/ceph-mixin/dashboards_out/pool-overview.json
  monitoring/ceph-mixin/dashboards_out/radosgw-detail.json
  monitoring/ceph-mixin/dashboards_out/radosgw-overview.json
  monitoring/ceph-mixin/dashboards_out/radosgw-sync-overview.json
  monitoring/ceph-mixin/dashboards_out/rbd-details.json
  monitoring/ceph-mixin/dashboards_out/rbd-overview.json
Owners: @ceph/dashboard

ceph-mixin: fix test with rate and label changes
  monitoring/ceph-mixin/tests_dashboards/features/host-details.feature
  monitoring/ceph-mixin/tests_dashboards/features/hosts_overview.feature
  monitoring/ceph-mixin/tests_dashboards/features/osd-device-details.feature
  monitoring/ceph-mixin/tests_dashboards/features/radosgw-detail.feature
  monitoring/ceph-mixin/tests_dashboards/features/radosgw_overview.feature
  monitoring/ceph-mixin/tests_dashboards/util.py
Owners: @ceph/dashboard

rgw: Disentangle read_sync_status from RemoteBucketManager
  src/rgw/rgw_data_sync.cc
  src/rgw/rgw_data_sync.h
Owners: none

test/rgw: bucket sync run recovery case
  src/test/rgw/rgw_multi/tests.py
Owners: none
