Repository rhcs-dashboard/ceph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ceph/dashboard, @ceph/api, @ceph/orchestrators, @ceph/rook, @ceph/ceph-volume, @ceph/crimson, @ceph/doc-writers, @ceph/core

.github/CODEOWNERS:

# Dashboard team to review dashboard related code
/src/pybind/mgr/dashboard                       @ceph/dashboard
/qa/suites/rados/dashboard                      @ceph/dashboard
/qa/tasks/mgr/test_dashboard.py                 @ceph/dashboard
/qa/tasks/mgr/dashboard                         @ceph/dashboard
/monitoring                                     @ceph/dashboard
/doc/mgr/dashboard.rst                          @ceph/dashboard

# Dashboard API team
/src/pybind/mgr/dashboard/openapi.yaml                 @ceph/api
/src/pybind/mgr/dashboard/controllers                  @ceph/api
/src/pybind/mgr/dashboard/frontend/src/app/shared/api  @ceph/api
/src/pybind/mgr/dashboard/run-backend-api-tests.sh     @ceph/api
/qa/suites/rados/dashboard                             @ceph/api
/qa/tasks/mgr/test_dashboard.py                        @ceph/api
/qa/tasks/mgr/dashboard                                @ceph/api
/qa/tasks/mgr/test_module_selftest.py                  @ceph/api

# For Orchestrator related PRs
/src/cephadm                                    @ceph/orchestrators
/src/pybind/mgr/orchestrator                    @ceph/orchestrators
/src/pybind/mgr/rook                            @ceph/orchestrators
/src/pybind/mgr/cephadm                         @ceph/orchestrators
/src/pybind/mgr/test_orchestrator               @ceph/orchestrators
/src/python-common/ceph/deployment              @ceph/orchestrators
/qa/workunits/cephadm                           @ceph/orchestrators
/qa/tasks/cephadm.py                            @ceph/orchestrators
/qa/tasks/cephadm_cases                         @ceph/orchestrators
/qa/tasks/mgr/test_orchestrator_cli.py          @ceph/orchestrators
/qa/tasks/mgr/test_cephadm_orchestrator.py      @ceph/orchestrators
/qa/suites/orch                                 @ceph/orchestrators
/doc/mgr/orchestrator.rst                       @ceph/orchestrators
/doc/mgr/orchestrator_modules.rst               @ceph/orchestrators
/doc/cephadm                                    @ceph/orchestrators
/doc/dev/cephadm                                @ceph/orchestrators
/doc/man/8/cephadm.rst                          @ceph/orchestrators

/qa/suites/orch/rook                            @ceph/rook
/src/pybind/mgr/rook                            @ceph/rook
/doc/mgr/rook.rst                               @ceph/rook

#ceph-volume
/src/ceph-volume                                @ceph/ceph-volume
/doc/ceph-volume                                @ceph/ceph-volume

# crimson
/src/crimson                                    @ceph/crimson
/src/test/crimson                               @ceph/crimson

# doc-writers
AUTHORS                                         @ceph/doc-writers
CodingStyle                                     @ceph/doc-writers
COPYING*                                        @ceph/doc-writers
/doc/                                           @ceph/doc-writers
README*                                         @ceph/doc-writers
*.rst                                           @ceph/doc-writers

# core
/doc/man/8/ceph-authtool.rst                    @ceph/core
/doc/man/8/ceph-conf.rst                        @ceph/core
/doc/man/8/ceph-create-keys.rst                 @ceph/core
/doc/man/8/ceph-kvstore-tool.rst                @ceph/core
/doc/man/8/ceph-mon.rst                         @ceph/core
/doc/man/8/ceph-objectstore-tool.rst            @ceph/core
/doc/man/8/ceph-osd.rst                         @ceph/core
/doc/man/8/ceph.rst                             @ceph/core
/doc/man/8/crushtool.rst                        @ceph/core
/doc/man/8/monmaptool.rst                       @ceph/core
/doc/man/8/rados.rst                            @ceph/core
/doc/rados                                      @ceph/core
/qa/standalone                                  @ceph/core
/qa/suites/rados                                @ceph/core
/qa/workunits/erasure-code                      @ceph/core
/qa/workunits/mgr                               @ceph/core
/qa/workunits/mon                               @ceph/core
/qa/workunits/objectstore                       @ceph/core
/qa/workunits/rados                             @ceph/core
/src/ceph.in                                    @ceph/core
/src/ceph_osd.cc                                @ceph/core
/src/ceph_mon.cc                                @ceph/core
/src/blk                                        @ceph/core
/src/crush                                      @ceph/core
/src/erasure-code                               @ceph/core
/src/kv                                         @ceph/core
/src/librados                                   @ceph/core
/src/mgr                                        @ceph/core
/src/mon                                        @ceph/core
/src/msg                                        @ceph/core
/src/os                                         @ceph/core
/src/osd                                        @ceph/core
/src/tools/rados                                @ceph/core
/src/test/osd                                   @ceph/core

rgw: generalize error handling in RGWShardCollectCR
  src/rgw/rgw_data_sync.cc
  src/rgw/rgw_sync.cc
  src/rgw/rgw_sync.h
  src/rgw/rgw_trim_bilog.cc
  src/rgw/rgw_trim_mdlog.cc
Owners: none

cmake: include opentelemetry include directories
  cmake/modules/BuildOpentelemetry.cmake
Owners: none

run-backend-api-tests.sh: set -x for Jenkins job debugging
  src/pybind/mgr/dashboard/run-backend-api-tests.sh
Owners: @ceph/api

cmake: set WITH_JAEGER=ON by default
  CMakeLists.txt
  src/rgw/rgw_process.cc
Owners: none

rgw: remove unused RGWRunBucketsSyncBySourceCR
  src/rgw/rgw_data_sync.cc
Owners: none

rgw: add sync_bucket_shard_cr() factory function
  src/rgw/rgw_data_sync.cc
Owners: none

do_freebsd.sh: set WITH_JAEGER=OFF
  do_freebsd.sh
Owners: none

common/tracer: use batch_span_processor over simple processor
  src/common/tracer.cc
  src/common/tracer.h
Owners: none

rgw: use const for string constants in rgw_data_sync.cc
  src/rgw/rgw_data_sync.cc
Owners: none

rgw: RGWSimpleRadosWriteAttrsCR supports exclusive create
  src/rgw/rgw_cr_rados.cc
  src/rgw/rgw_cr_rados.h
Owners: none

cephadm: preserve cephadm user during RPM upgrade
  ceph.spec.in
Owners: none

rgw: add data structures for bucket sync status
  src/rgw/rgw_data_sync.h
  src/rgw/rgw_json_enc.cc
Owners: none

rgw: add exclusive flag to RGWSimpleRadosWriteCR
  src/rgw/rgw_cr_rados.h
Owners: none

debian: make jaeger package installation as default
  debian/control
  debian/rules
Owners: none

rgw,osd: convert tracer to be a global var
  src/common/tracer.cc
  src/common/tracer.h
  src/osd/OSD.cc
  src/rgw/rgw_main.cc
  src/rgw/rgw_tracer.cc
  src/rgw/rgw_tracer.h
Owners: @ceph/core

osd: remove unused tracing spans
  src/osd/ECBackend.cc
  src/osd/OSD.cc
  src/osd/PrimaryLogPG.cc
  src/osd/ReplicatedBackend.cc
  src/osd/scheduler/OpSchedulerItem.cc
Owners: @ceph/core

rgw: rename to RGWSyncBucketShardCR
  src/rgw/rgw_data_sync.cc
Owners: none

install-deps: make jaeger package install default, removes with_jaeger flag
  install-deps.sh
Owners: none

win32_build: do not build jaeger for windows, disable cmake option
  win32_build.sh
Owners: none

rgw: system objects can set exclusive on set_attrs()
  src/rgw/services/svc_sys_obj.cc
  src/rgw/services/svc_sys_obj_cache.cc
  src/rgw/services/svc_sys_obj_cache.h
  src/rgw/services/svc_sys_obj_core.cc
  src/rgw/services/svc_sys_obj_core.h
Owners: none

cmake: change build type of opentelemtry to Release
  cmake/modules/BuildOpentelemetry.cmake
Owners: none

rgw: rename to rgw_read_bucket_inc_sync_status
  src/rgw/rgw_admin.cc
  src/rgw/rgw_data_sync.cc
  src/rgw/rgw_data_sync.h
  src/rgw/rgw_rest_log.cc
  src/rgw/rgw_sync_checkpoint.cc
Owners: none

common/tracer: return static noop span, instead of calling StartSpan(..)
  src/common/tracer.cc
  src/common/tracer.h
Owners: none

cmake: create jaeger_base target for consuming tracing libraries
  cmake/modules/BuildOpentelemetry.cmake
  src/CMakeLists.txt
  src/crimson/CMakeLists.txt
  src/mon/CMakeLists.txt
  src/os/CMakeLists.txt
  src/rgw/CMakeLists.txt
  src/rgw/store/dbstore/CMakeLists.txt
Owners: @ceph/crimson, @ceph/core

rgw: add InitBucketFullSyncStatusCR
  src/rgw/rgw_data_sync.cc
  src/rgw/rgw_data_sync.h
Owners: none

common: notify all when max backlog reached in OutputDataSocket, otherwise no data can be read from socket after max backlog reached Fixes: https://tracker.ceph.com/issues/55422
  src/common/OutputDataSocket.cc
Owners: none

rgw: RGWSimpleRadosReadCR copies out objv_tracker
  src/rgw/rgw_cr_rados.h
Owners: none

qa: fix teuthology master branch ref
  qa/tox.ini
Owners: none

rgw: rename to inc_status_oid
  src/rgw/rgw_data_sync.cc
  src/rgw/rgw_data_sync.h
Owners: none

cmake: use BOOST_ROOT if building with system boost
  cmake/modules/BuildOpentelemetry.cmake
Owners: none

ceph.spec.in: make jaeger packages installation default true.
  ceph.spec.in
Owners: none

doc/mgr: Document wildcard to expose Prometheus metrics for all RBD pools and namespaces
  doc/mgr/prometheus.rst
Owners: @ceph/doc-writers

rgw: add full_status_oid() for buckets
  src/rgw/rgw_data_sync.cc
  src/rgw/rgw_data_sync.h
Owners: none

radosgw-admin: 'bucket sync checkpoint' waits for full sync
  src/rgw/rgw_sync_checkpoint.cc
Owners: none

rgw: add rgw_read_bucket_full_sync_status()
  src/rgw/rgw_data_sync.cc
  src/rgw/rgw_data_sync.h
Owners: none

rgw: add generations to error repo with binary format
  src/rgw/rgw_basic_types.cc
  src/rgw/rgw_basic_types.h
  src/rgw/rgw_data_sync.cc
  src/rgw/rgw_data_sync.h
  src/rgw/rgw_sync_error_repo.cc
  src/rgw/rgw_sync_error_repo.h
Owners: none

rgw: target_layout to be optional
  src/rgw/rgw_admin.cc
  src/rgw/rgw_bucket.cc
  src/rgw/rgw_bucket_layout.h
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
  src/rgw/rgw_reshard.cc
  src/rgw/rgw_sal_rados.cc
  src/rgw/services/svc_bi_rados.cc
  src/rgw/services/svc_bi_rados.h
Owners: none

radosgw-admin: 'bucket sync status' displays new full sync status
  src/rgw/rgw_admin.cc
Owners: none

qa/rgw: rgw_multisite_tests task loads default plugins
  qa/tasks/rgw_multisite_tests.py
Owners: none

rgw: code organization fixes and error handling
  src/rgw/rgw_bucket.cc
  src/rgw/rgw_reshard.cc
  src/rgw/services/svc_bi_rados.cc
Owners: none
